/* .sidebar1{
  width: 60px;
} */

.dashboard {
  
    width: 98%;
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    /* display: grid; */
    /* grid-template-columns: 1fr 5fr; */
    position: absolute;
  }
  
  .dashboardContainer {
    float: left;
    width: 100%;
height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    background-color: #f9fafbd3;
    border-radius: 1rem;
    /* padding: 3rem 0; */
  }
  
  .dashboardContainer > h1 {
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
    width: 50%;
    padding: 1.5rem;
    margin: auto;
  }

  .maro{
    width: 15%;
    margin-left: 1rem;
    
  }
  
  .dashboardSummary {
    margin: 2rem 0;
    margin-top: 0px;
    width: 45%;
    position: absolute;
  }
  
  .dashboardSummary > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .dashboardSummary > div > p {
    background-color: white;
    color: black;
    font: 300 1.3rem "Roboto";
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 1.5rem;
    width: 100%;
    border-radius: 1rem;
    margin: 0 2rem;
  }

  .dashboardSummaryBox2{
    display: flex;
  }
  .dashboardSummaryBox2 > a {
    color: rgb(0, 0, 0);
    font: 300 1.5rem "Roboto";
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 1.5rem;
    width: 100%;
    height: 7vmax;
    margin: 2rem;
    margin-top: 10px;
    margin-bottom: 3px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  
  /* .dashboardSummaryBox2 > a:first-child {
    background-color: rgb(255, 110, 110);
    color: rgb(255, 255, 255);
  }
  
  .dashboardSummaryBox2 > a:last-child {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
  } */
  
  .chart{
    width: 55%;
    float: right;
  }
  
  .lineChart {
    width: 40rem;
    height: 17rem;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .doughnutChart {
    width: 32rem;
    height: 17rem;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  @media screen and (max-width: 1200px) {
    .dashboard{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

/* @media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
} */
  
  @media screen and (max-width: 768px) {
    .dashboard {
      /* grid-template-columns: 1fr; */
      align-items: center;
      width: 95%;
    }
  
    .dashboardContainer {
      border-left: none;
    }
  
    .dashboardSummary > div > p {
      margin: 0;
    }
  
    .dashboardSummaryBox2 > a {
      padding: 0.5rem;
      margin: 1rem;
      font: 300 0.9rem "Roboto";
    }
  }