.productsHeading {
    margin: 2vmax auto;
    margin-top: 3.6rem;
    width: 15vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    padding: 2vmax;
    color: rgba(0, 0, 0, 0.678);
    font: 500 1.5vmax "Roboto";
    text-align: center;
  }

  .box{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .heading{
    font-size: 1.3rem !important;
  }

  .priceSlider{
  color: #996b4a !important;
  width: 80% !important;
}

.small{
  color: rgba(0, 0, 0, 0.61);
}
  
  .products {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: flex-end;
    min-height: 30vh;
    margin-bottom: 4rem;
  }
  
  .paginationBox {
    display: flex;
    justify-content: center;
    margin: 6vmax;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    text-decoration: none;
    font: 300 0.7vmax "Roboto";
    color: rgb(80, 80, 80);
    transition: all 0.3s;
  }
  
  .page-item:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .page-item:hover .page-link {
    color: rgb(0, 0, 0);
  }
  
  .pageItemActive {
    background-color: #9b8352;
  }
  
  .pageLinkActive {
    color: white;
  }
  
   .filterBox {
    width: 15vmax;
    position: absolute;
    top: 14vmax;
    left: 6vmax;
    background-image: linear-gradient(90deg, #ffe6b3 0%, #9b8352 100%);
    color: black;
    border-top-right-radius: 70px;
  }
  
 .categoryBox {
    padding: 0%;
  }
  
  .category-link {
    list-style: none;
    color: rgba(0 0 0 / 73%);
    font: 400 1vmax "Roboto";
    margin: 0.4vmax;
    cursor: pointer;
    transition: all 0.5s;
  }
  .category-link:hover {
    color: tomato;
  }
  
  .filterBox > fieldset {
    border: 1px solid rgba(0, 0, 0, 0.329);
  }
  
  @media screen and (max-width: 600px) {
    .products {
      display: flex;
      justify-content: center;
    }
    .productCard{
      width: 100%;
    }

    .filterBox {
      width: 34vmax;
      position: static;
      margin: auto;
    }

    .productsHeading{
      margin-top: 4.6rem;
    }
  
    .page-link {
      font: 300 1.7vmax "Roboto";
    }
    .category-link {
      font: 400 1.8vmax "Roboto";
    }
  }