
.banner {
  /* background-image: url("../../images/cover.jpg"); */
  background: hsla(14, 75%, 45%, 1);

background: linear-gradient(90deg, hsla(14, 75%, 45%, 1) 0%, hsla(41, 100%, 70%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(14, 75%, 45%, 1) 0%, hsla(41, 100%, 70%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(14, 75%, 45%, 1) 0%, hsla(41, 100%, 70%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C7441C", endColorstr="#ffcf67", GradientType=1 );

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

/* .banner > img {
      width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
} */

.banner > h1 {
  /* margin: 5vmax; */
  margin-right: 50px;
  color: #381b12;
  font: 600 2.5vmax "Roboto";
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner > p {
  font: 300 3vmax "Lucida Sans";
  color: #381b12;
  padding-right: 50px;
}

.banner > a > button {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  margin-bottom: 5vmax;
  margin-right: 55px;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.banner > a > button svg{
  display: inline;
}
  
  @media(max-width: 750px){
    .banner{
      height: 160vmin;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .banner > p{
      padding: 0px;
    }
    .banner > h1,.banner > a > button {
      margin-right: 0px;
    }
  }
  @media all and (min-width:1024px){
    .caro{
      width: -webkit-fill-available;
      height: 99.4% !important;
    }
  }

 @media all and (max-width:1023px){
  .caro{
    height: 69.5% !important;
  }
}
@media all and (max-width:767px){
  .caro{
    width: 100% !important;
    height: 42% !important;
  }
}



/* .banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
 
  position: absolute;
  top: 0%;
  left: 0;
   clip-path: polygon(100% 68%, 0 100%, 100% 100%); 
  max-width: 100%;
} */

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.GIF {
  width:  90vw;
  margin: 2vmax auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.GIF > img {
  width: 20rem;
  
  height: 30em;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20pt;
}
@media all and (max-width:500px){
  .GIF {
    flex-direction: column;
  }
}

/* category */
.secound-card {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 15.5px;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  grid-auto-rows: 200px;
  grid-auto-flow: row dense;
  grid-gap: 23px;
  justify-content: center;
}

.card-right,
.card-left {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  padding: 5px;
  width: 100%;
  border-radius: 420px;
  box-shadow: 0px 3px 9px 1px rgba(0, 10, 20, 0.2);
}

.card-right {
  flex-direction: row-reverse;
  grid-column: auto / span 2;
  grid-row: auto / span 1;
}

.card-left {
  flex-direction: row;
  grid-column: auto / span 2;
  grid-row: auto / span 1;
}

.card-image {
  display: flex;
}


.card-left .card-image,
.card-right .card-image {
  height: 100%;
  width: 50%;
}

.card-image img {
  width: 100%;
  object-fit: cover;
}

.card-right img {
  border-radius: 0 420px 420px 0;
}

.card-left img {
  border-radius: 420px 0 0 420px;
}

.card-text {
  align-self: center;
  padding: 23px;
}

.card-right .card-text {
  height: auto;
  width: 50%;
  padding-left: 23px*1.6;
}


.card-left .card-text {
  height: auto;
  width: 50%;
  padding-right: 23px*1.6;
}

.card-text p {
  margin: 0;
  line-height: 1.35em;
  color: #334455;
}

@media (max-width: 600px) {
  .card-image {
    width: 38% !important;
  }

  .card-text {
    width: 62% !important;
  }
}

/* products  */
.container {
  display: flex;
  /* margin: 2vmax auto; */
  margin: 50px 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  
  align-items: center;
  /* max-width: 100%; */
}

.productCard {
  /* width: 20vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  background-color: #381b12; */
  width: 24%;
      margin: 15px;
      text-decoration: none;
      color: inherit;
      box-sizing: border-box;
      float: left;
      text-align: center;
      border-radius:10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-top: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: .4s;
}

.productCard > img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

/* .productCard .name{
  font-family: "Trebuchet MS", sans-serif;
} */

/* .productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

.productCardSpan {
  /* margin: 0.5vmax;
  font: 300 0.7vmax "Roboto"; */
  list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
}

.productCardSpan:hover{
  transform: scale(1.3);
      transition: .6s;
}

.productCard > p {
  /* font-family: "Roboto"; */
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 30px;
  margin: 1vmax 0.5vmax;
  padding-top: 10px;
  /* margin-bottom: 0; */
}

.productCard .amount{
  font-size: 26px;
      text-align: center;
      color: #222f3e;
      margin: 0;
      padding-bottom: 1rem;
}

.productCard > span {
  margin: 0.5vmax;
  color: tomato;
  /* font-family: "Trebuchet MS", sans-serif; */
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, serif; */
  
  font-size: 1vmax;
}

.productCard > button {
  text-align: center;
      font-size: 24px;
      color: #fff;
      width: 100%;
      padding: 15px;
      border:0px;
      outline: none;
      cursor: pointer;
      margin-top: 5px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: #9b8352;
}
.productCard > button:hover{
  background-color: #5a3e19;
}
.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

.card-home{
  display: flex;
  background-image: url("../../images/cover-5.jpg");
  /* margin: 2vmax auto; */
  margin: 50px 0;
  margin-left: 10rem;
  margin-right: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  height: 33vmax;
  /* width: 94%; */
  vertical-align: top;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 4rem;
  flex-direction: column;
  align-items: flex-start;
}
.joy{
  /* position: absolute; */
  font-size: 44px;
  color: floralwhite;
}

.foundation {
    text-decoration: none;
    background-color: transparent;
    border: 4px solid #ebdbafce;
    color: #ebdbaf;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    /* position: relative; */
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.foundation:hover{
  background-color: #ebdbafce;
  color: #222f3e;
}
.card-home > img{
  height: auto;
  max-width: 70%;
  vertical-align: top;
}

@media(max-width: 1000px){
.productCard {
  width: 46%;
}
}

@media(max-width: 750px){
  .content{
  width: 100%;
  }
}

/* @media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }

} */